*{
    box-sizing: border-box;
}

.head{
display: flex;
justify-content: space-between;
}


.container{
width: 1200px;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
}

.ul{
gap: 30px;
display: flex;
justify-content: center;
}

.ul li {display: inline-block;}

.first{
display: flex;
justify-content: center;
width: 496px;
margin-left: auto;   
margin-right: auto;
}


.card{
width: 800px;
margin-left: auto;
margin-right: auto;
}



.ota{
background-color: aquamarine;
width: 450px;
margin-left: auto;
margin-right: auto;
}